@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url("/fondo.jpg");
    background-size: cover;
}

.selected {
    background-color: white;
    color: #9381ff;
    font-weight: 600;
    font-size: large;
}

html.sr .load-hidden {
    visibility: hidden;
}